<!DOCTYPE html>
<html>
  <head>
    <title>Rap Analysis</title>
    <link rel='stylesheet' href='css/style.css'></link>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'></link>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src='js/rapApp.js'></script>
  </head>cd 
  
  <body ng-app='rapApp'>
  	<div id='main' class='container'>
	  	<div class='col-md-offset-2 col-md-8'>
	  		<div ng-view></div>
	    </div>
	</div>
  </body>

</html>